<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nipange">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".landlord.viewProperty" />
        <activity android:name=".landlord.valuation" />
        <activity android:name=".landlord.mortgageDetails" />
        <activity android:name=".landlord.details_about_property" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".landlord.property_manager_options" />
        <activity android:name=".landlord.dashboard_land" />
        <activity android:name=".landlord.new_property_launch" />
        <activity android:name=".login.LoginSuccesfulActivity" />
        <activity android:name=".login.Log_in" />
        <activity android:name=".login.Sign_up" />
        <activity android:name=".login.MainActivity">

        </activity>
    </application>

</manifest>